body {
    background: rgba(24, 24, 24, 0.3);
}

#mainarea {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#settingshotcorner {
    border-bottom-left-radius: 100%;
    background: rgba(200, 200, 200, 0.07);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.2s;
}
#settingshotcorner .fa {
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fafafa;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

#settingshotcorner:hover {
    width: 45px;
    height: 45px;
    background: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}
#settingshotcorner:hover .fa {
    font-size: 20px;
    top: 8px;
    right: 8px;
}

#addhotcorner {
    border-top-left-radius: 100%;
    background: rgba(200, 200, 200, 0.07);
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.2s;
}
#addhotcorner .fa {
    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fafafa;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

#addhotcorner:hover {
    width: 45px;
    height: 45px;
    background: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}
#addhotcorner:hover .fa {
    font-size: 20px;
    bottom: 8px;
    right: 8px;
}


@keyframes overlayin {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes overlayout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
#screenoverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    animation-name: overlayin;
    animation-duration: 0.5s;
}
#screenoverlay.animateout {
    animation-name: overlayout;
    animation-duration: 0.5s;
}
@keyframes popupin {
    0% { transform: translate(-50%, -50%) scale(0); opacity: 0.3; }
    80% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}
@keyframes popupout {
    0% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    20% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(0); opacity: 0.3; }
}
#screenoverlay #popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    min-height: 20%;
    height: auto;
    padding: 40px 0;
    border-radius: 3px;
    background: hsla(0, 0%, 80%, 0.9);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
    animation-name: popupin;
    animation-duration: 0.5s;
    text-align: center;
}
#screenoverlay #popup.animateout {
    animation-name: popupout;
    animation-duration: 0.5s;
}